@import "./sidebar.css";
@import "./main-pages.css";
@import "./images.css";
@import "./search.css";
@import "./tab-buttons.css";
@import "./footer.css";
@import "./texts.css";
@import "./other-buttons.css";
@import "./terminal.css";
@import "./updates.css";
