<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ title }} · Cyberpunk RED DB</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <h1>Cyberpunk RED DB</h1>
    <nav>
      <a href="/">🏠 Главная</a>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>