<footer class="custom-footer">
    <div class="footer-title">Над Проектом Работали:</div>

    <div class="footer-content">
        <div class="footer-column">
            <div class="footer-subtitle">Первопроходцы:</div>
            <div class="footer-team">
                <a href="https://t.me/RodoKalimehtar" target="_blank" rel="noopener" class="person">
                    <img src="{{ '/images/footer/dev-rodo.png' | url}}" alt="Евген Розен">
                    <span>Евген Розен: @RodoKalimehtar</span>
                </a>
                <a href="https://t.me/Ibrih" target="_blank" rel="noopener" class="person">
                    <img src="{{ '/images/footer/dev-maxim.png' | url}}" alt="Максим">
                    <span>Maxim: @Ibrih</span>
                </a>
                <a href="https://t.me/Bombila060" target="_blank" rel="noopener" class="person">
                    <img src="{{ '/images/footer/dev-dmitry.png' | url}}" alt="Дмитрий">
                    <span>Дмитрий Рябцев: @Bombila060</span>
                </a>
            </div>
        </div>

        <div class="footer-column">
            <div class="footer-subtitle">Текущая Команда:</div>
            <div class="footer-team">
                <a href="https://t.me/Alec_leon" target="_blank" rel="noopener" class="person">
                    <img src="{{ '/images/footer/dev-alec.png' | url}}" alt="Alec Leon">
                    <span>Alex Leon: @Alec_leon</span>
                </a>
                <a href="https://t.me/eu_v1" target="_blank" rel="noopener" class="person">
                    <img src="{{ '/images/footer/dev-jam.png' | url}}" alt="Jam">
                    <span>Евгений "Джем" Максимов: @eu_v1</span>
                </a>
            </div>
        </div>
    </div>



    <div class="footer-bottom">
        <div class="footer-logo-left">
            <img src="{{ '/images/footer/rtal-logo.png' | url}}" alt="RTG">
        </div>
        <div class="footer-logo-right">
            <img src="{{ '/images/footer/cdr-logo.png' | url}}" alt="CD Projekt RED">
        </div>
    </div>

    <p class="footer-note">Создано для русскоязычных сообществ Cyberpunk RED | 2020</p>
</footer>