<aside class="sidebar">
    <nav>
        <div class="logo">
            <a href="{{ '/' | url }}">
                <img src="{{ '/images/logo.png' | url }}" alt="Data Pool Logo"/>
            </a>
        </div>

        <details class="sidebar-group" open>
            <summary>Справочники</summary>
            <h3><a href="{{ '/equipment/' | url }}">📦 Снаряжение</a></h3>
            <ul>
                <li><a href="{{ '/equipment/clothes_style/' | url }}">Одежда и Стиль</a></li>
                <li><a href="{{ '/equipment/weapons/' | url }}">Оружейный Магазин</a></li>
                <li><a href="{{ '/equipment/armor/' | url }}">Броня</a></li>
                <li><a href="{{ '/equipment/items/' | url }}">Предметы</a></li>
                <li><a href="{{ '/equipment/agents_accessories/' | url }}">Каталог Агентов и Аксессуаров</a></li>
                <li><a href="{{ '/equipment/soft/' | url }}">Софт для Агента</a></li>
            </ul>
            <h3><a href="{{ '/health/' | url }}">🩸 Твое Здоровье</a></h3>
            <ul>
                <li><a href="{{ '/health/wounds/' | url }}">Травмы</a></li>
                <li><a href="{{ '/health/other/' | url }}">Другие способы пострадать</a></li>
                <li><a href="{{ '/health/drugs_medicine/' | url }}">Наркотики и лекарства</a></li>
                <li><a href="{{ '/health/healing_therapy_implants/' | url }}">Лечение, терапия и установка имплантов</a>
                </li>
            </ul>
            <h3><a href="{{ '/city/' | url }}">🏙️ Город</a></h3>
            <ul>
                <li><a href="{{ '/city/ncpd/' | url }}">NCPD</a></li>
                <li><a href="{{ '/city/trauma_team/' | url }}">Trauma Team</a></li>
                <li><a href="{{ '/city/nc_map/' | url }}">Карта Найт-Сити</a></li>
                <li><a href="{{ '/city/corpos/' | url }}">Корпорации</a></li>
                <li><a href="{{ '/city/loot_places/' | url }}">Места для Сбора</a></li>
            </ul>
            <h3><a href="{{ '/workshop/' | url }}">🔧 Мастерская</a></h3>
            <ul>
                <li><a href="{{ '/workshop/garage/' | url }}">Гараж</a></li>
                <li><a href="{{ '/workshop/repair/' | url }}">Обслуживание снаряги</a></li>
                <li><a href="{{ '/workshop/drones/' | url }}">Дроны</a></li>
            </ul>
            <h3><a href="{{ '/chrome/' | url }}">🤖 Твой Хром</a></h3>
            <ul>
                <li><a href="{{ '/chrome/implants/' | url }}">Киберимпланты</a></li>
                <li><a href="{{ '/chrome/borgs/' | url }}">Экзоскелеты/Боргирование</a></li>
                <li><a href="{{ '/chrome/pkt_packs/' | url }}">ПКТ комплекты</a></li>
                <li><a href="{{ '/chrome/pkt_implants/' | url }}">ПКТ импланты</a></li>
                <li><a href="{{ '/chrome/psycho/' | url }}">Киберпсихоз</a></li>
                <li><a href="{{ '/chrome/exotic/' | url }}">Биоэкзотика Биотехники</a></li>
            </ul>
            <h3><a href="{{ '/home/' | url }}">🏠 Где ты живешь</a></h3>
            <ul>
                <li><a href="{{ '/home/containers/' | url }}">Грузовые контейнеры и Куб-отели</a></li>
                <li><a href="{{ '/home/aparts/' | url }}">Конапты и Апартаменты</a></li>
                <li><a href="{{ '/home/goods/' | url }}">Товары для дома</a></li>
            </ul>
            <h3><a href="{{ '/contacts/' | url }}">📱 Твои контакты</a></h3>
            <ul>
                <li><a href="{{ '/contacts/streetlang/' | url }}">Уличный сленг</a></li>
                <li><a href="{{ '/contacts/reputation/' | url }}">Репутация</a></li>
                <li><a href="{{ '/contacts/night_market/' | url }}">Ночной рынок</a></li>
            </ul>
            <h3><a href="{{ '/net/' | url }}">🌐 Сеть</a></h3>
            <ul>
                <li><a href="{{ '/net/netrun/' | url }}">Нетран.Оборудование.Софт</a></li>
                <li><a href="{{ '/net/weather/' | url }}">Прогноз погоды</a></li>
                <li><a href="{{ '/net/quick_hacks/' | url }}">Быстрый Взлом (EMK)</a></li>
            </ul>
            <h3><a href="{{ '/job/' | url }}">💼 Твоя работа</a></h3>
            <ul>
                <li><a href="{{ '/job/tech/' | url }}">Техник</a></li>
                <li><a href="{{ '/job/suit/' | url }}">Корпорат</a></li>
                <li><a href="{{ '/job/nomad/' | url }}">Кочевник</a></li>
                <li><a href="{{ '/job/medic/' | url }}">МедТех</a></li>
                <li><a href="{{ '/job/fixer/' | url }}">Фиксер</a></li>
                <li><a href="{{ '/job/netrunner/' | url }}">Нетраннер</a></li>
                <li><a href="{{ '/job/cop/' | url }}">Законник</a></li>
                <li><a href="{{ '/job/rocker/' | url }}">Рокербой</a></li>
                <li><a href="{{ '/job/media/' | url }}">Медиа</a></li>
                <li><a href="{{ '/job/solo/' | url }}">Соло</a></li>
            </ul>
        </details>
        <details class="sidebar-group" open>
            <summary>GM Place</summary>
            <ul>
                <li><a href="{{ '/gm/combat/' | url }}">Таблицы боя</a></li>
                <li><a href="{{ '/gm/features/' | url }}">Механики</a></li>
                <li><a href="{{ '/gm/economic/' | url }}">Экономика</a></li>
                <li><a href="{{ '/gm/generators/' | url }}">Генераторы</a></li>
                <li><a href="{{ '/gm/traps/' | url }}">Дроны и ловушки</a></li>
                <li><a href="{{ '/gm/ambush/' | url }}">Засада и раунд неожиданности</a></li>
                <li><a href="{{ '/gm/luck/' | url }}">Вспышка Удачи</a></li>
            </ul>
        </details>
        <h4><a href="{{ '/faq/' | url }}">FAQ по CPRed</a></h4>
        <h4><a href="{{ '/support/' | url }}">Поддержка</a></h4>
        <h4><a href="{{ '/thanks/' | url }}">Благодарим за поддержку!</a></h4>
    </nav>
</aside>
